body{
    background-color: #72F2EB ;
    text-align: center;
}
h1 {
    text-align: center;
 }
 header{
    background-color:#00CCC0;
    width: 800px;
 }

 header {
    padding: 10px;
    border: 3px solid black;
    margin-top: 2%;
    margin-right: 20%;
    margin-left: 20%; 
 }

#Logo{
   background-color: #72F2EB;
   float: left;
   margin-left: 1%;
   margin-top: 1%;

}

#knop{
   background-color: #00CCC0;
   border: 2px solid #FF4858;
   margin-top: 200px;
   margin-left: 400px;
   margin-right: 200px;
   width: 600px;
}
