body {
    text-align: center;
    background-color: #72F2EB;
    font-family: Verdana;
    font-size: 200%;
}

table {
    text-align: center;
    margin: auto;
    border: 2px dotted black;
    /* margin-left: 33%;
    margin-right: 15%; */
    margin-top: 5%;
    width: 200px;
    height: 200px;
}