<title>Invoer pagina</title>
<!DOCTYPE html>
<html lang="nl">

<head>
    <title>Invoerpagina</title>
    <link rel="stylesheet" type="text/css" href="/static/laad.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="Xam, Mathijs, Erine, Fien, Ryan">
    <meta name="description" content="laadpagina">
</head>

<body>
    <a href="/">
        <img src="{{url_for('static', filename='logo website.png')}}" alt="Logo"
            title="The Perfect Schedule-onator 3000" width="150" height="188">
    </a>


    <br>
    <hr>
    <br><br>

    <form action="/invoer" method="post">
        <label for="delconfirm">DELETION CONFIRMATION CHECKBOX</label>
        <input type="checkbox" value="1" name="delconfirm" id="delconfirm"><br>
        <label for="droptables">delete all database tables</label>
        <input type="submit" id="droptables" name="droptables" value="DELETE ALL TABLES">
    </form>

    <br>
    <hr>
    <br><br>

    <form action="/invoer" method="post">
        <label for="dagen">dagen: </label>
        <input type="number" id="dagen" name="dagen" min="1" max="7" placeholder="max 7" size="6" required>
        <br>
        <label for="uuren_per_dag">Les uuren per dag: </label>
        <input type="number" id="uuren_per_dag" name="uuren_per_dag" min="1" max="15" placeholder="max 15" size="7"
            required>
        <br>
        <input type="submit" id="dag" name="dag" value="Submit">
        <input type="reset">
    </form>

    <br>
    <hr>
    <br><br>

    <!-- <form action="/invoer" method="post">
        <p>Aantal uur per vak</p>
        <input type="number" min="0" max="10" name="u1" id="u1" size="7" placeholder="max 10" required>
        <label for="u1"> - Informatica</label> <br>
        <input type="number" min="0" max="10" name="u2" id="u2" size="7" placeholder="max 10" required>
        <label for="u2"> - Wiskunde</label><br>
        <input type="number" min="0" max="10" name="u3" id="u3" size="7" placeholder="max 10" required>
        <label for="u3"> - Engels</label><br>
        <input type="number" min="0" max="10" name="u4" id="u4" size="7" placeholder="max 10" required>
        <label for="u4"> - Nederlands</label><br>
        <input type="number" min="0" max="10" name="u5" id="u5" size="7" placeholder="max 10" required>
        <label for="u5"> - Natuurkunde</label><br>
        <input type="number" min="0" max="10" name="u6" id="u6" size="7" placeholder="max 10" required>
        <label for="u6"> - Scheikunde</label><br>
        <input type="number" min="0" max="10" name="u7" id="u7" size="7" placeholder="max 10" required>
        <label for="u7"> - Duits</label><br>
        <input type="number" min="0" max="10" name="u8" id="u8" size="7" placeholder="max 10" required>
        <label for="u8"> - Frans</label><br>
        <input type="number" min="0" max="10" name="u9" id="u9" size="7" placeholder="max 10" required>
        <label for="u9"> - Biologie</label><br>
        <input type="number" min="0" max="10" name="u10" id="u10" size="7" placeholder="max 10" required>
        <label for="u10"> -
            Bedrijfseconomie</label><br>
        <input type="submit" id="vakuuren" name="vakuuren" value="Submit">
        <input type="reset">
    </form>

    <br>
    <hr>
    <br><br> -->

    <form action="/invoer" method="post">
        <label for="leerlingnmr">leerling nummer: </label>
        <input type="number" id="leerlingnmr" name="leerlingnmr" min="0" placeholder="leerlingnmr" required>
        <br>
        <label for="voornaam">voornaam</label>
        <input type="text" name="voornaam" id="voornaam" placeholder="voornaam" required>
        <br>
        <label for="achternaam">achternaam</label>
        <input type="text" name="achternaam" id="achternaam" placeholder="achternaam" required>
        <br>
        vakken:<br>
        {%for vak in vakken%}
        <input type="checkbox" value="{{vak[0]}}" name="vak" id="{{vak[0]}}">
        <label for="{{vak[0]}}"> - {{vak[1]}}</label>
        <br>
        {%endfor%}
        <input type="submit" id="leerling" name="leerling" value="Submit">
        <input type="reset">
    </form>

    <br>
    <hr>
    <br><br>

    <p>
        <a href="/laad">continue</a>
    </p>


</body>

</html>