<title>Invoer pagina</title>
<!DOCTYPE html>
<html lang="nl">

<head>
    <title>Invoerpagina</title>
    <link rel="stylesheet" type="text/css" href="/static/roosters.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="Xam, Mathijs, Erine, Fien, Ryan">
    <meta name="description" content="laadpagina">
    <script type="text/javascript" src="{{url_for('static', filename='laad.js')}}"></script>
</head>

<body>
    <a href="/">
        <img src="{{url_for('static', filename='logo website.png')}}" alt="Logo"
            title="The Perfect Schedule-onator 3000" width="150" height="188">
    </a>

    {%for leerling in roosters%}
    <p>Naam: {{leerling[0][1]}} {{leerling[0][2]}}</p>
    <p>Leerling ID: {{leerling[0][0]}}<p>
      <table border="1">
        {%for uur in leerling[1]%}
          <tr>
            <td>{{loop.index}}</td>
            {%for dag in uur%}
              <td>{{dag}}</td>
            {%endfor%}
          </tr>
        {%endfor%}
      </table>
    {%endfor%}


    <p>
        NAAM: Jacopo Saragozza 
    </p>
    <p> 
        LEERLING ID: 284937
    </p>
    <table border="1">
        <tr>
          <td>-</td>
          <td>Maandag</td>
          <td>Dinsdag</td>
          <td>Woensdag</td>
          <td>Donderdag</td>
          <td>Vrijdag</td>
        </tr>
        <tr>
            <td>Eerste uur</td>
            <td>Nederlands</td>
            <td>Informatica</td>
            <td>Natuurkunde</td>
            <td>Engels</td>
            <td>Frans</td>
          </tr>
          <tr>
            <td>Tweede uur</td>
            <td>Nederlands</td>
            <td>Engels</td>
            <td>Natuurkunde</td>
            <td>Wiskunde</td>
            <td>Frans</td>
          </tr>
          <tr>
            <td>Derde uur</td>
            <td>Scheikunde</td>
            <td>Engels</td>
            <td>Engels</td>
            <td>Wiskunde</td>
            <td>Biologie</td>
          </tr>
          <tr>
            <td>Vierde uur</td>
            <td>Scheikunde</td>
            <td>Biologie</td>
            <td>Informatica</td>
            <td>Frans</td>
            <td>Biologie</td>
          </tr>
          <tr>
            <td>Vijfde uur</td>
            <td>Biologie</td>
            <td>Informatica</td>
            <td>Nederlands</td>
            <td>Wiskunde</td>
            <td>Gym</td>
          </tr>
          <tr>
            <td>Zesde uur</td>
            <td>Biologie</td>
            <td>Frans</td>
            <td>Nederlands</td>
            <td>Wiskunde</td>
            <td>Gym</td>
          </tr>
          <tr>
            <td>Zevende uur</td>
            <td>Cel 2</td>
            <td>Cel 3</td>
            <td>Cel 4</td>
            <td>Cel 5</td>
            <td>Cel 6</td>
          </tr>
          <tr>
            <td>Achste uur</td>
            <td>Cel 2</td>
            <td>Cel 3</td>
            <td>Cel 4</td>
            <td>Cel 5</td>
            <td>Cel 6</td>
          </tr>
      </table>
</body>

</html>