<title>Invoer pagina</title>
<!DOCTYPE html>
<html lang="nl">

<head>
    <title>Invoerpagina</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='laad.css')}}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="Xam, Mathijs, Erine, Fien, Ryan">
    <meta name="description" content="laadpagina">
</head>

<body>
    <a href="/">
        <img src="{{url_for('static', filename='logo website.png')}}" alt="Logo"
            title="The Perfect Schedule-onator 3000" width="150" height="188">
    </a>



</body>

</html>